$nav-white: #d4d4d4; 

h1 {
    color: #fff;
    font-family: 'Roboto Condensed' sans-serif;
    font-size: 4ex;
    font-weight: lighter;
    letter-spacing: 0.2ex;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.8em;
}

.navigation {
    background-color: #000;
    opacity: 0.85;
    padding: 0 2.5em 2.5em 2.5em;
    
    .logo {
        display: inline-block;
        padding-top: 2.5em;
    }
}

.nav-rightside { 
    display: inline-block;
    float: right;
    padding-top: 1.5em;
    
    .main-nav {
        list-style: none;
        padding-left: 0;
    }
    
    li {
        display: inline-block;
        padding-left: 4em;
        
        a {
            color: $nav-white;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2ex;
            font-weight: lighter;
            text-transform: uppercase;    
        }
        
        a:hover {
            text-decoration: none;
        }
    }
    
    .contact-btn {
        color: $nav-white;
        border: 1px solid $nav-white;
        padding: 1em 2em;
        margin-left: 4em;
    }
    
    .contact-btn:hover {
        color: #000;
        background-color: $nav-white;
    }
}

.banner {
    min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

    .image {
        background-image: url(../assets/images/banner-pic.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .banner-content {
        padding-top: 8em;
        
        p {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 2ex;
            font-weight: lighter;
            text-align: center;
            line-height: 4ex;
            letter-spacing: 0.1ex;
            margin-bottom: 2em;
        }
        
        .button-group {
            text-align: center;
        }
//            
//            .button {
//                display: inline-block;
//            }
//            
//            .button:hover {
//                background-color: #fff;
//                color: #444;
//                text-decoration: none;
//            }
//            
//            a {
//                color: #fff;
//                font-family: 'Roboto Condensed' sans-serif;
//                font-size: 2ex;
//                font-weight: lighter;
//                text-transform: uppercase; 
//                border: 1px solid #fff;
//                padding: 1em 2em;
//            }
//            
//            a:hover {
//                color: #444;
//                text-decoration: none;
//            }
//        }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
// injector
// endinjector
